<body>
    <div class="left-side">
        <div class="div-infos">
            <img src="/assets/icons/logo.svg" alt="Logo" class="logo">
            <p class="subtitle">Acesse agora e descubra conteúdo feito para você!</p>
        </div>
        <img src="/assets/icons/picture.svg" alt="Imagem de fundo" class="picture">
    </div>
    <div class="right-side">
        <div class="div-infos">
            <h2>Descubra vídeos com dicas, tutoriais e histórias no Clipo</h2>
            <p>Faça login para continuar.</p>
            <button class="google-btn" (click)="acessarSistema()">
                <img src="/assets/icons/google.svg" alt="Google Icon" class="google-icon">
                Entrar com o Google
            </button>
        </div>
    
        <footer>
            <p>© 2024. Todos os direitos reservados.</p>
        </footer>
    </div>
    
</body>