* {
    font-family: "CircularStd", sans-serif;
}

.page-content {
    margin-left: 280px;
    padding: 0rem;
    height: 98dvh;
    overflow-y: auto;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-infos {
    width: 70%;
}

.video-infos {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 10px 16px;
    border-radius: 0.5rem;
    background-color: #FEF3C7;
}

.video-details {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;

    .circle {
        font-size: 7px;
    }
}

h1 {
    color: #BC560A;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}

video {
    width: 100%;
    border-radius: 0.5rem;
}

h2 {
    font-size: 22px;
    color: #657B79;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: #657B79;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}