<div class="page-content">
    <div class="video-container">
        <div class="div-infos">
            <video controls>
                <source src="" type="video/mp4">
                Seu navegador não suporta este vídeo.
            </video>

            <div class="video-title">
                <div>
                    <h1>{{ videoDetails.title }}</h1>
                    <h2>{{ videoDetails.artist }}</h2>
                </div>

                <div class="card-buttons">
                    <button class="btn like">
                        <img src="/assets/icons/salvo.svg" alt="">
                    </button>
                    <button class="btn later">
                        <img src="/assets/icons/later.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="video-infos">
                <div class="video-details">
                    <p>{{ videoDetails.visualizacoes }}</p>
                    <p class="circle">●</p>
                    <p>{{ videoDetails.year }}</p>
                </div>
                <p>{{ videoDetails.description }}</p>
            </div>
        </div>
    </div>
</div>