<div class="page-content">
    <div class="div-actions">
        <div class="input-container">
            <img src="/assets/icons/search.svg" alt="">
            <input type="text" placeholder="Pesquisar">
        </div>

        <button class="btn filter">
            <img src="/assets/icons/filter.svg" alt="">
        </button>
    </div>
    
    <div class="cards">
        <div *ngFor="let video of videos" class="card" (click)="navigateToVideo(video)">
            <img [src]="video.image" alt="{{ video.title }}">
            <div class="div-infos">
                <div class="card-body">
                    <h2>{{ video.title }}</h2>
                    <div class="sub-infos">
                        <p [title]="video.description">{{ video.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
