* {
    font-family: "CircularStd", sans-serif;
}

.page-content {
    margin-left: 280px;
    padding: 1rem;
    height: 94dvh;
    overflow-y: auto;
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 330px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFBEB;
    transition: all 0.3s ease;
    padding: 12px;
    cursor: pointer;
}

.div-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.input-container {
    position: relative;
    width: 430px;
    margin-right: 80px;
}

.input-container img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 4%;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #BC560A;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-container input:focus {
    img {
        display: none;
    }
}

.input-container input::placeholder {
    color: #BC560A;
    font-size: 14px;
    font-weight: 300;
}


.div-infos {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.sub-infos {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEF3C7;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    border: none;
    cursor: pointer;

    img {
        width: 75%;
    }
}

.btn:hover{
    background-color: #FDE58A;
}

h2 {
    font-size: 18px;
    color: #BC560A;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: #657B79;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 310px;
    title: attr(data-title);
}


img {
    height: 190px;
    width: 100%;
    border-radius: 0.5rem;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #FEF3C7;
}