<div class="page-content">
    <div class="cards">
        <div class="card" (click)="navigateToVideo('Kill This Love', 'BLACKPINK', '2.121.131.123 visualizações' ,'4 de abr. 2019', 'Kill This Love é uma música do grupo de K-pop BLACKPINK, lançada em 2019 como parte do álbum homônimo.')">
            <img src="/assets/images/image.webp" alt="">
            <div class="div-infos">
                <div class="card-body">
                    <h2>Kill This Love</h2>
                    <div class="sub-infos">
                        <p title="'Kill This Love' é uma música do grupo de K-pop BLACKPINK, lançada em 2019 como parte do álbum homônimo.">
                            "Kill This Love" é uma música do grupo de K-pop BLACKPINK, lançada em 2019 como parte do álbum homônimo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
