<div class="page-content">
    <div class="card">
        <img src="/assets/images/image.webp" alt="">
        <div class="div-infos">
            <div class="card-body">
                <h2>Kill This Love</h2>
                <div class="sub-infos">
                    <p title="'Kill This Love' é uma música do grupo de K-pop BLACKPINK, lançada em 2019 como parte do álbum homônimo. A faixa é conhecida por sua energia explosiva, batidas poderosas e uma mistura de gêneros como hip-hop, trap e pop. A música reflete a atitude confiante e destemida do grupo, com letras que falam sobre um relacionamento tóxico que precisa ser encerrado, mesmo que seja doloroso.">Kill This Love" é uma música do grupo de K-pop BLACKPINK, lançada em 2019 como parte do álbum homônimo. A faixa é conhecida por sua energia explosiva, batidas poderosas e uma mistura de gêneros como hip-hop, trap e pop. A música reflete a atitude confiante e destemida do grupo, com letras que falam sobre um relacionamento tóxico que precisa ser encerrado, mesmo que seja doloroso.</p>
                </div>
            </div>
        </div>
    </div>
</div>
